:root{
    --color-violet: #21092F;
   

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Space Grotesk", sans-serif;
}


main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    border:1px solid red;

}

.cards-container{
    flex: 1;
    background:linear-gradient( to right, var(--color-violet) 50%, #ebebeb 50% );
}

.form-container{
    flex: 1;
}